<div class="card">

  <div
    class="card-header
           d-flex
           justify-content-between
           align-items-center">

    <h3 class="card-title mb-0">

      {{
        isEditMode
          ? 'Edit Category'
          : 'Create Category'
      }}

    </h3>

    <a
      routerLink="/categories"
      class="btn btn-secondary btn-sm">

      Back to List

    </a>

  </div>


  <div class="card-body">

    <form
      (ngSubmit)="onSubmit()"
      *ngIf="!loading; else loadingTpl"
      class="category-form">


      <mat-form-field
        appearance="outline"
        class="full-width">

        <mat-label>
          Category Name
        </mat-label>

        <input
          matInput
          [(ngModel)]="formData.name"
          name="name"
          required />

      </mat-form-field>


      <mat-form-field
        appearance="outline"
        class="full-width">

        <mat-label>
          Description
        </mat-label>

        <textarea
          matInput
          [(ngModel)]="formData.description"
          name="description"
          rows="3">
        </textarea>

      </mat-form-field>


      <mat-checkbox
        [(ngModel)]="formData.isActive"
        name="isActive">

        Is Active

      </mat-checkbox>


      <div class="form-actions">

        <button
          mat-raised-button
          color="primary"
          type="submit">

          {{
            isEditMode
              ? 'Update Category'
              : 'Create Category'
          }}

        </button>

      </div>

    </form>


    <ng-template #loadingTpl>

      <div>
        Loading form data...
      </div>

    </ng-template>

  </div>

</div>